.popup-card-wide.mdl-card {
  width: 400px;
}

.popup-card-wide > .mdl-card__title {
  color: #fff;
  background: #F44336 center / cover;
}

.popup-card-wide > .mdl-card__menu {
  color: #fff;
}

.popup-card-wide {
  min-height: 0;
}

.supporting-text-header {
  margin-top: 0;
}

html {
  height: auto;
}

.linkable:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 88%, 0.22);
}

.linkable > div:hover {
  cursor: pointer;
}

#blacklist-header {
  margin-bottom: 0;
}

#blacklisted-header {
  margin-top: 0;
}

.blacklist-pokemon-input {
  width: 55%;
  margin-right: 15px;
}

#blacklist-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#blacklist-container ul li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

#blacklist-container ul li a {
  text-decoration: none;
  font-weight: 700;
  padding: .2em 1em;
  color: #fff;
  background-color: #212121;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

#blacklist-container ul li a:hover {
  color: #fff;
  background-color: #727272;
}

.gps-coordinate-link {
  margin-left: 30px;
  color: #727272;
  font-weight: 700;
  cursor: pointer;
}
.social-icon {
  margin-right: 10px;
}

.fa-facebook-official {
  color: #3b5998;;
}

.fa-twitter {
  color: #00aced;
}

.pokemon-name {
  font-weight: 600;
}

.pokemon-distance {
  font-size: 12px;
  padding-left: 4px;
}
