.popup-card-wide.mdl-card {
  width: 400px;
}

.popup-card-wide > .mdl-card__title {
  color: #fff;
  background: #F44336 center / cover;
}

.popup-card-wide > .mdl-card__menu {
  color: #fff;
}

.popup-card-wide {
  min-height: 0;
}

.supporting-text-header {
  margin-top: 0;
}

html {
  height: auto;
}

.linkable:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 88%, 0.22);
}

.linkable > div:hover {
  cursor: pointer;
}

#blacklist-header {
  margin-bottom: 0;
}

#blacklisted-header {
  margin-top: 0;
}

.blacklist-pokemon-input {
  width: 55%;
  margin-right: 15px;
}

.blacklist-button {
  background-color: #444444 !important;
}